node_modules

# Ignore artifacts & native build files:
android
ios
plugins
resources
www

# Ignore IDE settings
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/extensions.json

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# Ignore application settings
src/environments/*.*