$header-min-height: 67px;
$header-min-height-mobile: 134px;

#content {
  text-align: center;
  top: $header-min-height-mobile;

  @media (min-width: 992px) {
    top: $header-min-height;
  }

  strong {
    font-size: 20px;
    line-height: 26px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: var(--ion-color-step-500);
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}
