$search-bar-min-height: 46px;
$search-bar-min-width: 200px;
$search-bar-input-tb-padding: 5px;
$search-bar-input-lr-padding: 20px;

$search-bar-color: #bababa;
$search-bar-focus-color: #eaeaea;

:host {
  display: flex;
  flex-grow: 1;
}

.search-bar {
  $self: &;

  display: flex;
  flex-grow: 1;
  border: 1px solid $search-bar-color;
  margin: 10px 20px;

  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    position: relative;
    background: transparent;
    color: white;
    border-width: 0;
    letter-spacing: 0;
    width: 100%;

    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    z-index: 10;
    margin: 10px;
    font-size: 25px;
    color: $search-bar-color;

    &--search {
      pointer-events: none;
      right: 0;
    }

    &--close {
      display: none;
    }
  }

  &--not-empty {
    #{ $self }__icon {
      &--close {
        display: block;
        right: 0;
      }
    }
  }

  &--dirty {
    border: 1px solid $search-bar-focus-color;

    #{ $self }__icon {
      color: $search-bar-focus-color;
    }
  }
}
