<ion-content id="content">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="6" size-lg="6" size-md="4">
        <!-- product image -->
        <div class="placeholder--image">Place for product image</div>
      </ion-col>
      <ion-col size="6" size-lg="6" size-md="8">
        <!-- Section - product name/category/price etc. -->
        <div class="placeholder--text">Place for product base informations: name / category / price</div>
        <!-- Component - add-product-to-bag.component -->
        <div class="placeholder--text">Place for choosing size and adding to bag </div>
        <!-- Component - product-shipment.component -->
        <div class="placeholder--text">Place for shipment details</div>
        <!-- Component - product-details.component -->
        <div class="placeholder--text">Place for product details</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
