:host {
  overflow-y: auto;
}

.product {
  padding: 20px 0;

  &__details {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    cursor: default;

    &--title {
      margin-bottom: 20px;
    }

    &--subtitle {
      color: var(--ion-color-step-700);
    }

    &--price {
      color: var(--ion-color-step-700);
    }
  }
}
