<div class="product-shipment">
  <div class="product-shipment__section">
    <ion-icon class="product-shipment__icon" name="cube-outline"></ion-icon>
    <div class="product-shipment__line product-shipment__line--bold">
      <span>2 - 4 working days</span>
      <span>free</span>
    </div>
    <div class="product-shipment__line">Standard delivery</div>
  </div>
  <div class="product-shipment__section">
    <ion-icon class="product-shipment__icon" name="happy-outline"></ion-icon>
    <div class="product-shipment__line product-shipment__line--bold">30 day return policy</div>
  </div>
  <div class="product-shipment__section">
    <ion-icon class="product-shipment__icon" name="gift-outline"></ion-icon>
    <div class="product-shipment__line product-shipment__line--bold">Free delivery</div>
  </div>
</div>
