<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="header__title">
      <img class="header__logo" alt="logo" src="assets/svg/logo.svg" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="header__action" name="heart-outline" aria-label="Favourites"></ion-icon>
      <ion-icon class="header__action" name="cart-outline" aria-label="Cart"></ion-icon>
      <ion-icon class="header__action" name="person-outline" aria-label="User"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <devmyself-products-grid></devmyself-products-grid>
  </div>
</ion-content>
